body {
    background-color: #2e3436;
    color: #a3a3a3;
    height: 100%;
    margin: 0px;
    width: 100%;
}

img {
    border: 0px;
}

a {
    color: #729fcf;
    text-decoration: none;
}

table {
    text-align: center;
}

td {
}

th {
    font-size: 80%;
    color: #a3a3a3;
}

th#highlight {
    padding: 3px;
    color: #abd75f;
}

textarea {
    background-color: #2e3436;
    border: 1px solid #6f6f6f;
    color: #babdb6;
    width: 100%;
    text-align: center;
}

input {
    background-color: #2e3436;
    border: 1px solid #6f6f6f;
    color: #929292;
    text-align: center;
}

input#int {
    background-color: #2e3436;
    border: 1px solid #6f6f6f;
    color: #929292;
    text-align: center;
    width: 65px;
}

div#slogan {
    background-color: #2e3436;
    color: #babdb6;
    border-bottom: 1px solid #3c3c3c;
    float: left; text-align: right;
    padding: 5px 1% 5px 1%;
    width: 29%;
}
#slogan a {
    color: #a3a3a3;
}

div#topmenu {
    background-color: #2e3436;
    border-bottom: 1px solid #3c3c3c;
    float: left;
    padding: 5px 1% 5px 0px;
    text-align: left;
    width: 68%;
}

#topmenu ul {
    list-style: none;
    margin: 0; padding: 0px;
}
#topmenu li {
    display: inline;
    border-left: 1px solid #3c3c3c;
}
#topmenu a {
    color: #75507b;
    padding: 5px;
    text-decoration: none;
}
#topmenu a#highlight {
    color: #ad7fa8;
}
