{% extends "base.html" %}
{% load render %}
{% block styles %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css" />
{% endblock %}

{% block body %}
<div class="content">
  <div class="chat-bubble">
    <div class="chat-bubble-arrow-border"></div>
    <div class="chat-bubble-arrow"></div>
    Make a new paste here!
  </div>
  <div class="index">
    <div class="left-col">
      <h1>PySession!</h1>
      <p>Yes, another Python pastebin.</p>
      <p>But PySession is more than just a pastebin! On the IRC
      network "{{ IRC_NETWORK }}" in the {{ IRC_CHANNEL }} channel
      there is a bot named {{ IRC_NICKNAME }}. Certain users are able
      to type Python code directly into the chat and get the results
      back in realtime. If the results are too long, they are sent to
      this pastebin instead.</p>
      <p>You wont be able to use the IRC features of {{ IRC_NICKNAME }} 
      but you can download and host your own PySession bot. Find
      the source at:</p>
      <a href="https://github.com/dustinlacewell/PySession">https://github.com/dustinlacewell/PySession</a>
    </div>
    <div class="right-col">
      <div class="snippits">
	{% for snippit in snippits %}
	<div class="snippit">
	  <p class="info">
	    <a href="{{ snippit.pk }}">
	      <span class="time">{{ snippit.timestamp }}</span>
	      {% if snippit.nickname %}
	      by <span class="nickname">{{ snippit.nickname }}</span>
	      {% endif %}
	      {% if snippit.channel %}
	      in <span class="channel">{{ snippit.channel }}</span>
	      {% endif %}
	    </a>
	  </p>
	  {% if snippit.highlight %}<pre>{{ snippit.code|render|safe }}</pre>
	  {% else %}<pre><div class="plain">{{ snippit.code }}</div></pre>
	  {% endif %}
	  <pre class="result">{{ snippit.result }}</pre>
	</div>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


